@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.body{
	font-family: 'Noto Sans KR', sans-serif;
	width:810px;
	padding: 20px;
	margin-left:auto;
	margin-right:auto;
}

.div0,.div1,.div2,.div3 {
    width:630px;
    margin:0 auto
}

.div0{
	margin-top: 50px;
}

.input1{
	width: 622px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
}
.input2{
	width: 600px;
	height:300px;
	padding: 10px;
	margin: 0px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
}
.p1{
	font-weight: 300;
	font-size: 11pt;
	margin-bottom: 2px;
}
.p2{
	margin-top:2px;
	font-size: 11pt;
	color: red;
	padding-left: 2px;
	display: none;
}
#sub1{
	width: 622px;
	height: 40px;
	padding-left: 10px;
	padding-right: 20px;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 50px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
	font-weight: 400;
}
#sub1:active {
	  transform: translateY(2px);
}
.btns{
	width: 60px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	vertical-align: middle;
	border: 1px solid #eeeeee;
	border-radius:5px 5px 5px 5px;
	font-weight: 400;
}
.btns1{
	width: 70px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	vertical-align: middle;
	border: 1px solid #eeeeee;
	border-radius:5px 5px 5px 5px;
	font-weight: 400;
}

.btns:active {
	transform: translateY(2px);
}
.btns:hover{
	background-color: #bebebe;
}
.btns1:active {
	transform: translateY(2px);
}
.btns1:hover{
	background-color: #bebebe;
}
.div_btns{
	border-bottom: 1px solid #e5e5e5;
	padding-top:10px;
	padding-bottom:10px;
}
.div_btns p{
	height: 30px;
	line-height: 30px;
}

input::-webkit-input-placeholder { font-size: 80%; }
input::-moz-placeholder { font-size: 80%; }
input:-ms-input-placeholder { font-size: 80%; }
input:-moz-placeholder { font-size: 80%; }
input::placeholder { font-size: 80%; }