@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.body {
	width: fit-content;
	margin: 0 auto;
	max-width: 500px;
}
.body *:not h2{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:10pt;
	font-weight: 300;
	
}
/* .body form {border: 3px solid #f1f1f1;} */

.body input[type=text],.body input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px 5px 5px 5px;
}

.body button {
  background-color: #212529;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
}

.body button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.body img.avatar {
  width: 40%;
  border-radius: 50%;
}

.body span.psw {
  float: right;
  padding-top: 16px;
}

.container{
	font-family: 'Noto Sans KR', sans-serif;
}
.imgcontainer{
	display: none;
}
.psw{
	margin-bottom: 20px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
 .body span.psw {
     display: block;
     float: none;
  }
}